apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: traefik

resources:
  - namespace.yaml
  - dashboard-certificate.yaml
  - dashboard-ingressroute.yaml
  - dashboard-middleware.yaml
  - default-headers-middleware.yaml
