apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: rate-limit
  namespace: traefik
  labels:
    app: traefik
spec:
  rateLimit:
    average: 100
    period: 1s
    burst: 50
---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: rate-limit-strict
  namespace: traefik
  labels:
    app: traefik
spec:
  rateLimit:
    average: 10
    period: 1s
    burst: 5
