apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

namespace: argocd

patches:
  - patch: |-
      apiVersion: v1
      kind: Namespace
      metadata:
        name: argocd
        labels:
          environment: production
    target:
      kind: Namespace
      name: argocd
