apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: linkerd

# Linkerd requires certificates to be generated before installation
# Run the cert-generation script first



resources:
  - linkerd-certificates.yaml
  - namespace.yaml
