apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik-certificates
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "0"  # Deploy after cert-manager but before traefik
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: infrastructure
  source:
    repoURL: https://github.com/oNddleo/gitops.git
    targetRevision: HEAD
    directory:
      recurse: false
      include: dashboard-certificate.yaml
    path: infrastructure/traefik/base
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  ignoreDifferences:
    - group: cert-manager.io
      kind: Certificate
      jsonPointers:
        - /status
