apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: infrastructure
  sources:
    # Source 1: Helm Chart
    - repoURL: https://traefik.github.io/charts
      chart: traefik
      targetRevision: 37.4.0
      helm:
        releaseName: traefik
        valuesObject:
          deployment:
            enabled: true
            kind: Deployment
            replicas: 2
            
          service:
            enabled: true
            type: ClusterIP
            annotations: {}
            
          providers:
            kubernetesCRD:
              enabled: true
              allowCrossNamespace: true
              allowExternalNameServices: true
          
          ports:
            web:
              port: 80
              exposedPort: 80
              expose:
                default: true
          # websecure:
          #   port: 443
          #   exposedPort: 443
          #   expose:
          #     default: true
          #   # Enable TLS
          #   tls:
          #     enabled: true
          # Traefik dashboard
          # traefik:
          #   port: 9000
          #   expose:
          #     default: false
          
          logs:
            general:
              level: INFO
            access:
              enabled: true
          
          metrics:
            prometheus:
              enabled: true
              
          additionalArguments:
            - "--api.insecure=true"
            - "--providers.kubernetescrd"
            - "--providers.kubernetesingress"
          
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          
          persistence:
            enabled: false

    # Source 2: Kustomize Overlay
    - repoURL: https://github.com/oNddleo/gitops.git
      targetRevision: HEAD
      path: infrastructure/traefik/overlays/dev
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
